# Rinomina questo file in secrets.yaml e compila con i tuoi valori reali.
# secrets.yaml NON va mai committato su Git.

wifi_ssid: "NomeDellaTuaRete"
wifi_password: "password_wifi"
ap_password: "password_hotspot_fallback"
ha_api_key: "chiave_api_esphome_generata_da_ha"
ota_password: "password_ota_a_tua_scelta"
wifi_qr_string: "WIFI:T:WPA;S:NomeRete;P:password;;"
